
<app-observables></app-observables>

<app-zupa-counter #zupa>
  <h1>Counter: {{ zupa.counter }}</h1>
</app-zupa-counter>
<button type="button" (click)="zupa.inc()">INC</button>
<button type="button" (click)="zupa.dec()">DEC</button>

<app-zupa-counter #zupa2> Counter: {{ zupa2.counter }} </app-zupa-counter>
<button type="button" (click)="zupa2.inc()">INC</button>
<button type="button" (click)="zupa2.dec()">DEC</button>

<app-article-form (save)="createArticle($event)"></app-article-form>

<app-article-count></app-article-count>

<button class="dropdown-container" (click)="toggleDropdown()">click ⬇️
  <div #dropdownElement *ngIf="isDropdownOpened" class="dropdown">
    <ul>
      <li>google.com</li>
      <li>ibm.com</li>
      <li>nanoenergies.cz</li>
    </ul>
  </div>
</button>
😁
<pre>{{ articleService.articles$ | async | json }}</pre>

<div *ngFor="let article of articleService.articles$ | async">
  <app-article
    [article]="article"
    (deleteArticle)="deleteArticle(article)"
  ></app-article>
</div>

<app-colored-buttons></app-colored-buttons>

